* {
  box-sizing: border-box !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
}

h2 {
  height: 25px;
}
.wrapper {
  position: absolute;
  cursor: move;
  border: 1px black solid;
  /* drop shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  width: 450px;
  min-height: 75px !important;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  z-index: 2 !important;
}

.container-lautsprecher {
  width: 300px;
}

.box-container {
  width: 150px;
  height: inherit !important;
}

.box-container > * {
  flex-grow: 1;
}

.box {
  min-height: 50px;
  flex: 1;
  background-color: lightblue;
}

.buttons {
  height: 25px;
  border-radius: 0px;
  border: 1px black solid;
}

.addbutton {
  width: 100%;
  height: 100%;
}

.connector {
  width: 100%;
  height: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px black solid;
}

.devicename {
  height: calc(100% - 25px);
  background-color: rgb(217, 217, 217);
  text-align: center;
  margin-top: 25px;
}

.device {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#left-container {
  display: flex;
  flex-direction: column;
  align-items: stretch !important;
}

#right-container {
  display: flex;
  flex-direction: column;
  align-items: stretch !important;
}

textarea.devicename {
  text-align: center;
  display: block;
  width: 100% !important;
}

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through */

  /* Grid dots using radial-gradient */
  background-image: radial-gradient(circle, #ccc 2px, transparent 1px);
  background-size: 25px 25px; /* Default grid size */
  z-index: 0 !important;
}

.grid-dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0 !important;
}

.close-button {
  position: fixed;
  transform: translate(-280%, 90%);
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.anchor-point-left {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, 75%);
}

.anchor-point-right {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(50%, 75%);
}

.line {
  height: 2px;
  background-color: black;
  transform-origin: 0 0;
}

.removebutton {
  position: absolute;
  /* move to the right */
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(255, 137, 137);
}

.plus-icon {
  position: absolute;
  bottom: inherit;
  left: inherit;
  transform: translate(65px, -10px);
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 24px;
  color: #000;
  background-color: blue;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
}

.plus-icon:hover {
  background-color: lightblue;
  transition: 0.2s ease-out;
}

#connection-lines {
  z-index: 999 !important;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  z-index: 1 !important;
}

.primary {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
}

#editindicator {
  position: absolute;
  width: 50%;
  background-color: #000;
  height: 50px;
  /* animate */
  transition: 0.2s ease-out;
}

.modeselector {
  position: relative;
  width: 50%;
  height: 50px;
  z-index: 1 !important;
  background-color: transparent;
  color: #fff;
  transition: 0.2s ease-out;
}

#viewmodediv {
  position: absolute;
  right: 0;
}

.wrapper-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
}

polyline {
  pointer-events: none;
}
